# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# created by virtualenv automatically
.idea/
venv/camera/librealsense2.so
venv/camera/pyrealsense2.so
venv/voice/__pycache__
venv/movement/__pycache__
venv/led/__pycache__
venv/controller/__pycache__