# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# created by virtualenv automatically
.idea/
/venv/camera/librealsense2.storage
/venv/camera/pyrealsense2.storage